__pycache__
*.prm
*.pt
*.pth
*.jpg
datasets/
params/
pretrained_weights/
image/image_workspace/scripts/examples/cnn/configs/
image/image_workspace/scripts/examples/cnn/results/
image/image_workspace/scripts/examples/object_detection/configs/yolov8.yaml
image/image_workspace/scripts/examples/object_detection/results/
image/image_workspace/scripts/examples/segmentation/results/
.env
