__pycache__
*.prm
*.pt
*.pth
*.jpg
image/scripts/examples/cnn/configs/
image/scripts/examples/cnn/datasets/
image/scripts/examples/cnn/params/
image/scripts/examples/cnn/pretrained_weights/
image/scripts/examples/cnn/results/
image/scripts/examples/object_detection/configs/yolov8.yaml
image/scripts/examples/object_detection/datasets/
image/scripts/examples/object_detection/params/
image/scripts/examples/object_detection/pretrained_weights/
image/scripts/examples/object_detection/results/
image/scripts/examples/segmentation/datasets/
image/scripts/examples/segmentation/params/
image/scripts/examples/segmentation/pretrained_weights/
image/scripts/examples/segmentation/results/
.env

