__pycache__
*.prm
*.pt
*.pth
*.jpg
*.db
datasets/
params/
pretrained_weights/
image/examples/workspace/scripts/cnn/configs/
image/examples/workspace/scripts/cnn/results/
image/examples/workspace/scripts/object_detection/configs/yolov8.yaml
image/examples/workspace/scripts/object_detection/results/
image/examples/workspace/scripts/segmentation/results/
image/examples/workspace/scripts/anomaly_detection/results/
.env
